body{
    font-family:Bukyvede, BukyvedeWeb;
}
div{
    /* div elements contain six tables plus labels*/
    /*    border:1px solid black;
*/
    margin-bottom:1em;
    clear:both;
    display:block;
    /* 
    http://www.quirksmode.org/css/clearing.html 
    hack to preserve spacing between divs
    */
    overflow:auto;
}
table{
    /* tables run together horizontally within a div*/
    display:inline;
    float:left;
    border:none;
    margin:0;
    padding:0.5em 0;
}
table:first-child{
    border-right:1px solid black;
    font-style:italic;
}
th,
td{
    border:none;
    padding:0 0.5em 0.2em 0.5em;
    font-family:Bukyvede, BukyvedeWeb;
}
sup{
    line-height:0;
}
tbody.editions{
    border-top:1px gray solid;
    border-bottom:1px gray solid;
}