@font-face{
    font-family:'KlimentStdWeb';
    src:url('/css/fonts/kliment_std-webfont.eot');
    src:url('/css/fonts/kliment_std-webfont.eot?#iefix') format('embedded-opentype'), 
url('/css/fonts/kliment_std-webfont.woff') format('woff'), 
url('/css/fonts/kliment_std-webfont.ttf') format('truetype'), 
url('/css/fonts/kliment_std-webfont.svg#KlimentStdRegular') format('svg');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:'BukyvedeWeb';
    src:url('/css/fonts/bukyvede-regular-webfont.eot');
    src:url('/css/fonts/bukyvede-regular-webfont.eot?#iefix') format('embedded-opentype'), 
url('/css/fonts/bukyvede-regular-webfont.woff') format('woff'), 
url('/css/fonts/bukyvede-regular-webfont.ttf') format('truetype'), 
url('/css/fonts/bukyvede-regular-webfont.svg#BukyvedeRegular') format('svg');
    font-weight:normal;
    font-style:normal;

}
@font-face{
    font-family:'MenaionWeb';
    src:url('/css/fonts/menaion_djb_5.1-webfont.eot');
    src:url('/css/fonts/menaion_djb_5.1-webfont.eot?#iefix') format('embedded-opentype'), 
url('/css/fonts/menaion_djb_5.1-webfont.woff') format('woff'), 
url('/css/fonts/menaion_djb_5.1-webfont.ttf') format('truetype'), 
url('/css/fonts/menaion_djb_5.1-webfont.svg#BukyvedeRegular') format('svg');
    font-weight:normal;
    font-style:normal;

}
@font-face{
    font-family:'LazovWeb';
    src:url('/css/fonts/lazov05-webfont.eot');
    src:url('/css/fonts/lazov05-webfont.eot?#iefix') format('embedded-opentype'), 
url('/css/fonts/lazov05-webfont.woff') format('woff'), 
url('/css/fonts/lazov05-webfont.ttf') format('truetype'), 
url('/css/fonts/lazov05-webfont.svg#BukyvedeRegular') format('svg');
    font-weight:normal;
    font-style:normal;
}
.manuscripts{
    font-family:Bukyvede, BukyvedeWeb;
}
.editions{
    font-family:KlimentStd, KlimentStdWeb;
    font-size:smaller;
    color:cadetblue;
}
.lemma{
    font-family:KlimentStd, KlimentStdWeb;
    font-weight:bold;
    color:brown;
}
th{
    font-family:serif;
}